<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
                <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                    <div formGroupName="customer" class="form-area" >
                        <h3>Customer</h3>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">First Name</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="firstName" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Last Name</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="lastName" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Email</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="email" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

<!-- SHIPPING ADDRESS -->
                    <div formGroupName="shippingAddress" class="form-area">
                        <h3>Shipping Address</h3>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Country</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="country" (change)="getStates('shippingAddress')">
                                        <option  *ngFor="let tempCountry of countries" [ngValue]="tempCountry">{{tempCountry.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Street</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="street" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">City</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="city" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">State</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="state">
                                        <option *ngFor="let tempState of shippingStates" [ngValue]="tempState">{{tempState.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Zip Code</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="zipCode" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-space">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        Billing Address same as Shipping Address
                    </div>
                    <!-- Billing address -->

                    <div formGroupName="billingAddress" class="form-area">
                        <h3>Billing Address</h3>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Country</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="country"  (change)="getStates('billingAddress')">
                                    <option  *ngFor="let tempCountry of countries" [ngValue]="tempCountry">{{tempCountry.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Street</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="street" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">City</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="city" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">State</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="state">
                                    <option *ngFor="let tempState of billingStates" [ngValue]="tempState">{{tempState.name}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Zip Code</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="zipCode" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CREDIT CARD INFO -->
                     <div formGroupName="creditCard" class="form-area">
                        <h3>Credit Card</h3>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Card Type</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="cardType">
                                        <option>Visa</option>
                                        <option>Mastercard</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Name on Card</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="nameOnCard" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Card Number</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="cardNumber" type="text">
                                </div>
                            </div>
                        </div>

                   
                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Security Code</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                    <input formControlName="securityCode" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Expiration Month</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select formControlName="expirationMonth">
                                        <option *ngFor="let tempMonth of creditCardMonths">{{tempMonth}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label for="">Expiration Year</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-space">
                                   <select (change)="handleMonthAndYears()" formControlName="expirationYear">
                                        <option *ngFor="let tempYear of creditCardYears"> {{tempYear}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="form-area">
                        <h3>Review Your Order</h3>
                        <p>Total Quantity : {{totalQuantity}}</p>
                        <p>Shipping : FREE</p>
                        <p>Total Price : {{totalPrice | currency : 'USD'}}</p>
                     </div>

                    <div class="text-center">
                        <button  type="submit" class="btn btn-info">Purchase</button>
                    </div>



                </form>
        </div>
    </div>
</div>